<div>
  <span class="text--left">Left aligned text</span>
</div>
<div>
  <span class="text--right">Right aligned text</span>
</div>
<div>
  <span class="text--center">Center aligned text</span>
</div>
<div>
  <span class="text--small">Small text</span>
</div>