<p>The Bachelor of Accounting will give you a sound knowledge base in financial accounting, management accounting, taxation, business law and finance.</p>
<p>This vocationally oriented and student-centred course focuses on the professional employment skills needed in a rapidly changing business environment with an emphasis on communication, presentation and problem-solving skills. It allows for flexibility of study and prepares students for careers in a variety of business fields</p>
