// scss-lint:disable ColorKeyword, ColorVariable, SpaceAfterComma

// Colors
//
// Use the `color()` function to add colors to CSS properties. Documentation is available in
// [John Albins Github site](http://johnalbin.github.io/chroma/).
//
// Markup: chroma-kss-markup.twig
//
// Style guide: 1.1

@import 'chroma';
@import 'chroma/kss';

// These colours make up the building blocks for component colors.
$chroma: define-default-color-scheme('Descriptive color names for use in "functional" color names below.');
$chroma: add-colors((
    // Shades
    'white':                  #fff,
    'grey-xxxlight':          #f3f2f5,
    'grey-xxlight':           #ececec,
    'grey-xlight':            #d9d9d9,
    'grey-light':             #ccc,
    'grey':                   #aaa,
    'grey-mid':               #5f5f5f,
    'grey-dark':              #404040,
    'grey-mid-dark':          #707070,
    'grey-xdark':             #1a1a1a,
    'black':                  #000,
    // Primary
    'dark-blue':              #211545,
    // Secondary
    'teal-bright':            #068c9e,
    'teal':                   #056571,
    'prussian-blue':          #295879,
    'fresh':                  #ccdfcb,
    'pomegranate':            #df1a00,
    'gold-leaf':              #d9b310,
    // VET
    'tropics':                #83d2d4,
    'desert':                 #c13b06,
    // RIEL
    'mangrove':               #8ba700,
    'bark':                   #705f5e,
    // Northern Institute
    'spinifex':               #988731,
    'ochre':                  #9c2a21,
    // Shame (move later)
    'light-teal':             #f2f7f8,
    'light-green':            #f6fcf3,
    'mid-green':              #50bf0f,
    'dark-green':             #2b636f,
    'blue-light':             #f2f7f8,
    'blue-xlight':            #f2f7f8,
    // Alerts
    'notify-negative':        #df1a00,
    'notify-positive':        #056571,
    'notify-warning':         #f5a623,
    // Gradient colors
    'light-orange':           #dc3909,
    'dark-orange':            #f39300,
    // Form
    'form-highlight':         #479ccf,
));

// The primary color scheme provides components with colors.
// Primary colors should be defined in each component.
// @see src/base/text/_text.scss for an example.
$chroma: define-color-scheme('primary', 'Colors used by design components used across the site.');
// Add colors to the primary color scheme.
$chroma: add-colors('primary', (
    'corporate-blue':         'dark-blue',
    'headlines':              'grey-dark',
    'body-copy':              'grey-xdark',
    'aluminium':              'grey-xlight',
    'border-tint':            ('white', rgba, .25),
    'background-tint':        ('white', rgba, .1),
    'box-shadow-color':       ('black', rgba, .1),
));

$chroma: define-color-scheme('vet', 'Colors used by design components specifically related to VET.');
// Add colors to the primary color scheme.
$chroma: add-colors('vet', (
    'primary':                'tropics',
    'secondary':              'desert',
));

$chroma: define-color-scheme('riel', 'Colors used by design components specifically related to RIEL.');
// Add colors to the primary color scheme.
$chroma: add-colors('riel', (
    'primary':                'mangrove',
    'secondary':              'bark',
));

$chroma: define-color-scheme('northern', 'Colors used by design components specifically related to Northern Institute.');
// Add colors to the primary color scheme.
$chroma: add-colors('northern', (
    'primary':                'spinifex',
    'secondary':              'ochre',
));

$chroma-active-scheme: 'primary';
