// Variables
//
// Set misc vars here.

$site-max-width: 1180px;
$tablet-header-height: 120px;
$desktop-header-height: 168px;
$search-width: 550px;

// Container padding.
$container-padding-top: 2.5rem;
$container-padding-side: 2rem;
$mask-padding: 4rem;
$mask-scale-padding-1: 10vw;
$mask-scale-padding-2: 9vw;
$mask-scale-padding-3: 8vw;
$mask-scale-padding-4: 7vw;
$wedge-height: 6.15vw;
$masked-image-padding: 64.5%;

// Borders
$border-width:              1px;
$border-style:              $border-width solid;
$border-radius:             2px;

// Spacing
$spacing-xs:                5px;
$spacing-s:                 10px;
$spacing-m:                 30px;
$spacing-l:                 70px;

// Drupal RTL support: Rather than include a separate *-rtl.css file, Zen 6 uses
// Drupal 8's standard [dir='rtl'] selector for RTL language support. You can
// turn off all RTL CSS by setting the following variable to false.
$include-rtl:               false;

// Base path for assets (fonts, images...), should not include trailing slash.
// Providing stylesheets live in the css directory (and not in a sub directory
// inside the css directory) this will work.
$asset-base-path:           '../' !default;
$image-base-path:           'sass/components' !default;
$font-base-path:            'fonts' !default;
$icon-base-path:            'sass/base/icons/source' !default;
