<fieldset class="form__item form--checkboxes {{ modifier_class }}" aria-describedby="checkboxHelp" >
  <legend>A set of checkbox inputs</legend>
  <div class="form__checkbox">
    <input type="checkbox" id="checkbox1">
    <label for="checkbox1">This is an example checkbox</label>
  </div>
  <div class="form__checkbox">
    <input type="checkbox" id="checkbox2">
    <label for="checkbox2">This is an example <em>checkbox</em></label>
  </div>
  <div class="form__checkbox">
    <input type="checkbox" id="checkbox3">
    <label for="checkbox3">This is an example <strong>checkbox</strong></label>
  </div>
  <div class="form__checkbox">
    <input type="checkbox" id="checkbox3">
    <label for="checkbox3">This is an example <em><strong>checkbox</strong></em></label>
  </div>
  <div class="form__checkbox">
    <input type="checkbox" id="checkbox5">
    <label for="checkbox5">This is an example <a href="#">checkbox</a></label>
  </div>
  <div role="tooltip" id="checkboxHelp" class="form__description">Help text that provides additional information about the field.</div>
</fieldset>
