<div class="form__item">
  <label for="inputEmail">Input email field</label>
  <input type="email" id="types-inputEmail" aria-describedby="types-inputEmailHelp">
  <div role="tooltip" id="types-inputEmailHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputSearch">Input search field</label>
  <input type="search" id="types-inputSearch" aria-describedby="types-inputSearchHelp">
  <div role="tooltip" id="types-inputSearchHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputTel">Input tel field</label>
  <input type="tel" id="types-inputTel" aria-describedby="types-inputTelHelp">
  <div role="tooltip" id="types-inputTelHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputURL">Input url field</label>
  <input type="url" id="types-inputURL" aria-describedby="types-inputURLHelp">
  <div role="tooltip" id="types-inputURLHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputPassword">Input password field</label>
  <input type="password" id="types-inputPassword" aria-describedby="types-inputPasswordHelp">
  <div role="tooltip" id="types-inputPasswordHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputDate">Input date field</label>
  <input type="date" id="types-inputDate" aria-describedby="types-inputDateHelp">
  <div role="tooltip" id="types-inputDateHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputTime">Input time field</label>
  <input type="time" id="types-inputTime" aria-describedby="types-inputTimeHelp">
  <div role="tooltip" id="types-inputTimeHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputNumber">Input number field</label>
  <input type="number" id="types-inputNumber" aria-describedby="types-inputNumberHelp">
  <div role="tooltip" id="types-inputNumberHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
<div class="form__item">
  <label for="inputUser">Input [type="name"] field</label>
  <input type="text" id="types-username" aria-describedby="types-inputUsernameHelp" name="name">
  <div role="tooltip" id="types-inputusernameHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
