<div class="form__item">
  <label for="inputText">Input text field</label>
  <input type="text" id="inputText" aria-describedby="inputTextHelp">
  <div role="tooltip" id="inputTextHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
