// Reset
//
// Reset various elements to a base state.

// Reset list
//
// Safely reset `ul` and `ol` and their children `li` elements.
//
// Markup: reset-list.twig

.reset--list,
%reset--list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Reset fieldset
//
// Safely reset `fieldset` and their children `legend` elements.
//
// Markup: reset-fieldset.twig

.reset--fieldset,
%reset--fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;

  legend {
    padding: 0;
    display: table;
  }
}
