<div class="form__item">
  <label for="textarea1">A textarea</label>
  <textarea id="textarea1" aria-describedby="textareaHelp"></textarea>
  <div role="tooltip" id="textareaHelp" class="form__description">Help text that provides additional information about the field.</div>
</div>
